In [1]:
import pandas as pd 
import numpy as np

In [2]:
train = pd.read_csv("train.csv", index_col=0)
train

,county,is_business,product_type,target,is_consumption,datetime,data_block_id,row_id,prediction_unit_id,date,...,snowfall_f_mean,total_precipitation_f_mean,forecast_date_electricity,euros_per_mwh_electricity,origin_date_electricity,forecast_date_gas,lowest_price_per_mwh_gas,highest_price_per_mwh_gas,origin_date_gas,mean_price_per_mwh_gas
0,0,0,1,0.713,0,2021-09-01 00:00:00,0,0,0,2021-09-01,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,0,0,1,96.590,1,2021-09-01 00:00:00,0,1,0,2021-09-01,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,0,0,2,0.000,0,2021-09-01 00:00:00,0,2,1,2021-09-01,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,0,0,2,17.314,1,2021-09-01 00:00:00,0,3,1,2021-09-01,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,0,0,3,2.904,0,2021-09-01 00:00:00,0,4,2,2021-09-01,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2018347,15,1,0,197.233,1,2023-05-31 23:00:00,637,2018347,64,2023-05-31,...,0.0,0.0,2023-05-30 23:00:00,-1.29,2023-05-29 23:00:00,2023-05-30,29.0,34.0,2023-05-29,31.5
2018348,15,1,1,0.000,0,2023-05-31 23:00:00,637,2018348,59,2023-05-31,...,0.0,0.0,2023-05-30 23:00:00,-1.29,2023-05-29 23:00:00,2023-05-30,29.0,34.0,2023-05-29,31.5
2018349,15,1,1,28.404,1,2023-05-31 23:00:00,637,2018349,59,2023-05-31,...,0.0,0.0,2023-05-30 23:00:00,-1.29,2023-05-29 23:00:00,2023-05-30,29.0,34.0,2023-05-29,31.5
2018350,15,1,3,0.000,0,2023-05-31 23:00:00,637,2018350,60,2023-05-31,...,0.0,0.0,2023-05-30 23:00:00,-1.29,2023-05-29 23:00:00,2023-05-30,29.0,34.0,2023-05-29,31.5
2018351,15,1,3,196.240,1,2023-05-31 23:00:00,637,2018351,60,2023-05-31,...,0.0,0.0,2023-05-30 23:00:00,-1.29,2023-05-29 23:00:00,2023-05-30,29.0,34.0,2023-05-29,31.5

In [4]:
train.groupby("prediction_unit_id").count()

,county,is_business,product_type,target,is_consumption,datetime,data_block_id,row_id,date,year,...,snowfall_f_mean,total_precipitation_f_mean,forecast_date_electricity,euros_per_mwh_electricity,origin_date_electricity,forecast_date_gas,lowest_price_per_mwh_gas,highest_price_per_mwh_gas,origin_date_gas,mean_price_per_mwh_gas
prediction_unit_id,,,,,,,,,,,,,,,,,,,,,
0,30624,30624,30624,30616,30624,30624,30624,30624,30624,30624,...,30572,30572,30572,30572,30572,30576,30576,30576,30576,30576
1,30624,30624,30624,30616,30624,30624,30624,30624,30624,30624,...,30572,30572,30572,30572,30572,30576,30576,30576,30576,30576
2,30624,30624,30624,30616,30624,30624,30624,30624,30624,30624,...,30572,30572,30572,30572,30572,30576,30576,30576,30576,30576
3,30624,30624,30624,30616,30624,30624,30624,30624,30624,30624,...,30572,30572,30572,30572,30572,30576,30576,30576,30576,30576
4,30624,30624,30624,30616,30624,30624,30624,30624,30624,30624,...,30572,30572,30572,30572,30572,30576,30576,30576,30576,30576
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
64,26256,26256,26256,26250,26256,26256,26256,26256,26256,26256,...,26252,26252,26252,26252,26252,26256,26256,26256,26256,26256
65,24768,24768,24768,24762,24768,24768,24768,24768,24768,24768,...,24764,24764,24764,24764,24764,24768,24768,24768,24768,24768
66,24768,24768,24768,24762,24768,24768,24768,24768,24768,24768,...,24764,24764,24764,24764,24764,24768,24768,24768,24768,24768
67,23280,23280,23280,23274,23280,23280,23280,23280,23280,23280,...,23276,23276,23276,23276,23276,23280,23280,23280,23280,23280
68,3312,3312,3312,3312,3312,3312,3312,3312,3312,3312,...,3312,3312,3310,3310,3310,3312,3312,3312,3312,3312